
@{
    ViewBag.Title = "Ejercicios4CSS";
}

<br />
<div style="text-align: center;"><h1>Ejercicio 4 </h1></div>
<br />
<h4>Enunciado: </h4>
<h5>

    A partir de la página web que se te proporciona, debes emplear la etiqueta <link> para crear una página web que tenga el mismo aspecto que la siguiente imagen:
    como-se-usa-3.png

</h5>





