@{
    ViewBag.Title = "Ejercicios LPPA";
}

<div>
    <div style="text-align: center;"><h1><strong>Ejercicios</strong></h1></div>
    <br />
    <form>
       
            <div style="color:forestgreen;"><h3><strong>Ejercicios HTML</strong></h3></div>

            <ul>
                <li><a href="/Home/Ejercicio1" title="Title - Ejercicio #1">Ejercicio #1</a><br /></li>
                <li><a href="/Home/Ejercicio2" title="Title - Ejercicio #2">Ejercicio #2</a><br /></li>
                <li><a href="/Home/Ejercicio3" title="Title - Ejercicio #2">Ejercicio #2</a><br /></li>
                <li><a href="/Home/Ejercicio4" title="Title - Ejercicio #3">Ejercicio #3</a><br /></li>
                <li><a href="/Home/Ejercicio5" title="Title - Ejercicio #4">Ejercicio #4</a><br /></li>
                <li><a href="/Home/Ejercicio6" title="Title - Ejercicio #5">Ejercicio #5</a><br /></li>
                <li><a href="/Home/Ejercicio7" title="Title - Ejercicio #6">Ejercicio #6</a><br /></li>
              
            </ul>
    </form>

    <form>

        <div style="color: red;"><h3><strong>Ejercicios CSS</strong></h3></div>
        <ul>

            <li><a href="~/Home/Ejercicios1CSS" title="Title - Ejercicio #1">Ejercicio #1</a><br /></li>
            <li><a href="~/Home/" title="Title - Ejercicio #2">Ejercicio #2</a><br /></li>
            <li><a href="~/Home/" title="Title - Ejercicio #3">Ejercicio #3</a><br /></li>
            <li><a href="~/Home/" title="Title - Ejercicio #4">Ejercicio #4</a><br /></li>
            <li><a href="~/Home/" title="Title - Ejercicio #5">Ejercicio #5</a><br /></li>
            <li><a href="~/Home/" title="Title - Ejercicio #6">Ejercicio #6</a><br /></li>
            <li><a href="~/Home/" title="Title - Ejercicio #7">Ejercicio #7</a><br /></li>

        </ul>




    </form>
</div>

